// colors
$header-blue: #1C688E;
$grey: #ccc;
$lightGrey: #eee;
$orange: #FFAB66;
$black: #333;

// sizes
$header-size:16px;
$text-size: 14px;
$max-height-inside: 540px;
$max-height-outside: 700px;

// spacing
$vertical-spacer: 2rem;

html{
  background-image: url('/img/background.png');
  height:100%;

}

.App {
  li{
    list-style: none;
  }
  .section-header{
    font-size: 16px;
    font-weight: 600;
  }

  ul{
    padding:0;
    margin: 0;
  }

  a{
    text-decoration: none;
    color:inherit;
  }
}

.App-Container{
  background-color:white;
  max-width: 1200px;
  box-shadow: 0 0 16px $grey;
  margin:auto;
  margin-top:$vertical-spacer;
  max-height: $max-height-outside;
}

.search-header{
  background-color: $header-blue;
  padding: 1.5rem;

  &__input{
    width: 98%;
    padding:.78rem;
    font-size: .9rem;
    border-radius: 4px;
    border:none;
  }
}

.search-results{
  &__container{
    display: flex;
  }
}

.search-results-list{
  &__list{

    &-item{
      cursor: pointer;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px;

      &:hover{
        background-color: $lightGrey;
      }

      &-selected{
          color: #FFF;
          background-color: $header-blue;
      }
    }
  }
}

.search-results-master{
  &__container{
    flex:1;
    border-right: 1px solid $grey;
    padding: 1rem;
    max-height: $max-height-inside;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__cuisine{}

  &__rating{
    margin-top:$vertical-spacer;
  }

  &__payment{
    margin-top:$vertical-spacer;
  }
}

.search-results-detail{
  flex:3;
  margin:2rem;
  color: $grey;
  max-height: $max-height-inside;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100%;

  &__header{
    margin-bottom:1.3rem;
  }

  &__header:after{
    content:'';
    display:inline-block;
    width:100%; height:100%;
    margin-right:-100%;
    margin-left:20px;
    border-bottom:1px solid $grey;
  }

  &__list{}

  &__list-item{
    cursor: pointer;
    display:flex;
    justify-content: flex-start;
    margin-bottom:1.3rem;

    &-image{
      border-radius: 4px;
    }

    &-details{
      margin-left: 1rem;
      display:flex;
      justify-content: flex-start;
      flex-direction: column;
      padding-bottom: .78rem;
      font-size: $text-size;
      color: $grey;

      &-header{
        font-size:$header-size;
        color: $black;
        font-weight: 500;
      }

      &-rating{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        margin-top: .5rem;
        max-width: 400px;

        &--rating{
          color:$orange;
        }

        &--stars{
          margin-left:.78rem;
        }

        &--reviews{
          margin-left:.78rem;
        }
      }

      &-cuisine{
        margin-top: .5rem;
      }
    }
  }

  &__show-more-button{}
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  width: 110px;
  position:relative;

  &-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
  }
}
